
/******************************************************************************************
***************                           SINGLE 1                          ***************
*******************************************************************************************/

.single1ball {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #EC644B;
	-webkit-animation: single1animation 4s infinite linear;
	animation: single1animation 4s infinite linear; 
}

@-webkit-keyframes single1animation {
	0%, 9%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	10%, 19%, 90%, 99% {
		-webkit-transform: scale(.2);
		transform: scale(.2);
	}
	20%, 29%, 80%, 89% {
		-webkit-transform: scale(.4);
		transform: scale(.4);
	}
	30%, 39%, 70%, 79% {
		-webkit-transform: scale(.6);
		transform: scale(.6);
	}
	40%, 49%, 60%, 69% {
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	50%, 59% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes single1animation {
	0%, 9%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	10%, 19%, 90%, 99% {
		-webkit-transform: scale(.2);
		transform: scale(.2);
	}
	20%, 29%, 80%, 89% {
		-webkit-transform: scale(.4);
		transform: scale(.4);
	}
	30%, 39%, 70%, 79% {
		-webkit-transform: scale(.6);
		transform: scale(.6);
	}
	40%, 49%, 60%, 69% {
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	50%, 59% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/******************************************************************************************
***************                           SINGLE 2                          ***************
*******************************************************************************************/

.spinningCircle {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 4px solid rgba(255,255,255,0);
	border-top-color: 4px solid #7fc4d1;
	border-right-color: 4px solid #7fc4d1;
	-webkit-animation: single2 4s infinite linear;
	animation: single2 4s infinite linear;
}


@-webkit-keyframes single2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border-top-color: #7fc4d1;
		border-right-color: #7fc4d1;
	}
	50% {
		border-top-color: #1f4f58;
		border-right-color: #1f4f58;
	}
	100% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
		border-top-color: #7fc4d1;
		border-right-color: #7fc4d1;
	}
}


@keyframes single2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border-top-color: #7fc4d1;
		border-right-color: #7fc4d1;
	}
	50% {
		border-top-color: #1f4f58;
		border-right-color: #1f4f58;
	}
	100% {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
		border-top-color: #7fc4d1;
		border-right-color: #7fc4d1;
	}
}





/******************************************************************************************
***************                           SINGLE 3                          ***************
*******************************************************************************************/

.single3 {
	height: 30px;
	width: 30px;
	background-color: #EC644B;
	border-radius: 50%;
	-webkit-animation: single3 2s infinite ease-in-out;
	animation: single3 2s infinite ease-in-out;
}

@-webkit-keyframes single3 {
	0%, 20%, 40%, 60%, 100% {
		-webkit-transform: scale(.2);
		transform: scale(.2);
		opacity: 0;
	}
	10%, 30%, 50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes single3 {
	0%, 20%, 40%, 60%, 100% {
		-webkit-transform: scale(.2);
		transform: scale(.2);
		opacity: 0;
	}
	10%, 30%, 50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}




/******************************************************************************************
***************                           SINGLE 4                          ***************
*******************************************************************************************/

.single4 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 6px solid #EEEEEE;
	border-top-color: #BFBFBF;
	border-bottom-color: #BFBFBF;
	-webkit-animation: single4 2.5s infinite ease-in-out;
	animation: single4 2.5s infinite ease-in-out;
}

@-webkit-keyframes single4 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg);
	}
}

@keyframes single4 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg);
	}
}





/******************************************************************************************
***************                           SINGLE 5                          ***************
*******************************************************************************************/

.single5 {
	height: 50px;
	width: 50px;
	background-color: pink;
	-webkit-animation: single5 5s infinite linear;
	animation: single5 5s infinite linear;
}



@-webkit-keyframes single5 {
	0% { 
		-webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
		background-color: #F4D03F;
	}
	25% { 
		-webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
		background-color: #52B3D9;
	}
	50% { 
		-webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
		background-color: #EC644B;
	}
	75% { 
		-webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
		background-color: #68C3A3;
	}
	100% { 
		-webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
		background-color: #F4D03F;
	}
}



@keyframes single5 {
	0% { 
		transform: perspective(180px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
		background-color: #F4D03F;
	}
	25% { 
		transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
		background-color: #52B3D9;
	}
	50% { 
		transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
		-webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
		background-color: #EC644B;
	}
	75% { 
		transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
		-webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
		background-color: #68C3A3;
	}
	100% { 
		transform: perspective(180px) rotateX(0deg) rotateY(360deg);
		-webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
		background-color: #F4D03F;
	}
}





/******************************************************************************************
***************                           SINGLE 6                          ***************
*******************************************************************************************/

.single6 {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #90C695;
	-webkit-animation: single6 1s infinite ease-in;
	animation: single6 1s infinite ease-in;
}

@-webkit-keyframes single6 {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes single6 {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}









/******************************************************************************************
***************                           MULTIPLE 1                        ***************
*******************************************************************************************/

.ball1, .ball2, .ball3 {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	float: left;
	margin: 0 3px;
}

.ball1 {
	background-color: #62abc1;
	-webkit-animation: single1ball1anim 2s infinite linear;
	animation: single1ball1anim 2s infinite linear;
}

@-webkit-keyframes single1ball1anim {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	12.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5);
	}
	25%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes single1ball1anim {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	12.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5);
	}
	25%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.ball2 {
	background-color: #468295;
	-webkit-animation: single1ball2anim 2s infinite linear;
	animation: single1ball2anim 2s infinite linear;
}

@-webkit-keyframes single1ball2anim {
	0%, 25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	37.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5)
	}
	50%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes single1ball2anim {
	0%, 25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	37.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5)
	}
	50%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.ball3 {
	background-color: #34616f;
	-webkit-animation: single1ball3anim 2s infinite linear;
	animation: single1ball3anim 2s infinite linear;
}
@-webkit-keyframes single1ball3anim {
	0%, 50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	62.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5)
	}
	75%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes single1ball3anim {
	0%, 50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	62.5% {
		-webkit-transform: scale(1.2);
		transform: scale(1.5)
	}
	75%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}





/******************************************************************************************
***************                          MULTIPLE 2                         ***************
*******************************************************************************************/

.mult2rect {
	height: 30px;
	width: 7px;
	margin: 0 2px;
}
.mult2rect1 {
	background-color: #F5D76E;
	-webkit-animation: mult2rect1 3s infinite linear;
	animation: mult2rect1 3s infinite linear;
}
@-webkit-keyframes mult2rect1 {
	0%, 10%, 70%, 80%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	5%, 75% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
@keyframes mult2rect1 {
	0%, 10%, 70%, 80%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	5%, 75% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
.mult2rect2 {
	background-color: #F4D03F;
	-webkit-animation: mult2rect2 3s infinite linear;
	animation: mult2rect2 3s infinite linear;
}
@-webkit-keyframes mult2rect2 {
	0%, 5%, 15%,  65%, 75%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	10%, 70% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
@keyframes mult2rect2 {
	0%, 5%, 15%,  65%, 75%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	10%, 70% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
.mult2rect3 {
	background-color: #EB9532;
	-webkit-animation: mult2rect3 3s infinite linear;
	animation: mult2rect3 3s infinite linear;
}
@-webkit-keyframes mult2rect3 {
	0%, 10%, 20%, 60%, 70%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	15%, 65% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
@keyframes mult2rect3 {
	0%, 10%, 20%, 60%, 70%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	15%, 65% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
.mult2rect4 {
	background-color: #EC644B;
	-webkit-animation: mult2rect4 3s infinite linear;
	animation: mult2rect4 3s infinite linear;
}
@-webkit-keyframes mult2rect4 {
	0%, 15%, 25%, 55%, 65%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	20%, 60% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
@keyframes mult2rect4 {
	0%, 15%, 25%, 55%, 65%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	20%, 60% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
.mult2rect5 {
	background-color: #C0392B;
	-webkit-animation: mult2rect5 3s infinite linear;
	animation: mult2rect5 3s infinite linear;
}
@-webkit-keyframes mult2rect5 {
	0%, 20%, 30%, 50%, 60%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	25%, 55% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}
@keyframes mult2rect5 {
	0%, 20%, 30%, 50%, 60%, 100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	25%, 55% {
		-webkit-transform: scaleY(2);
		transform: scaleY(2);
	}
}





/******************************************************************************************
***************                          MULTIPLE 3                         ***************
*******************************************************************************************/

.mult3 {
	height: 40px;
	width: 40px;
	position: relative;
}

.mult3circle1, .mult3circle2 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.mult3circle1 {
	background-color: #66CC99;
	-webkit-animation: mult3circle1anim 4s infinite steps(1);
	animation: mult3circle1anim 4s infinite steps(1);
}


@-webkit-keyframes mult3circle1anim {
	0%, 75%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}


@keyframes mult3circle1anim {
	0%, 75%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}

.mult3circle2 {
	background-color: #438866;
	-webkit-animation: mult3circle2anim 4s infinite steps(1);
	animation: mult3circle2anim 4s infinite steps(1);
}

@-webkit-keyframes mult3circle2anim {
	0%, 100% {
		-webkit-transform: scale(.65);
		transform: scale(.65);
	}
	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes mult3circle2anim {
	0%, 100% {
		-webkit-transform: scale(.65);
		transform: scale(.65);
	}
	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

















